.footer-cr {
    text-align: center;
}

.footer-name {
    font-weight: 400;
    color: #333;
    text-align: center;
    border: 5px  solid rgb(73, 163, 223);
    box-shadow: 1.5px 1.5px 1.5px 1.5px;
}
.footer-cr {
  font-weight: 400; 
  color: rgb(192, 148, 148);
  text-align: center;
  border: 1px solid
  
}